{% extends 'base.html.twig' %}

{% block title %}
    Page profil
{% endblock %}

{% block body %}

    

    <h1 class="text-center my-5">Votre page profil : {{ user.nom }} {{ user.prenom }}</h1>

{% if user.roles.0 == 'ROLE_ADMIN' %}
    <p class="text-center text-secondary">Vous êtes ADMINISTRATEUR du site</p>
{% endif %}

<div class="container mb-5">
    <div class="card mx-auto col-6 shadow p-3 mb-5 bg-body rounded">
    <div class="d-flex">
        <img src="http://pm1.narvii.com/7370/56ba6b6ccfb4f5454156a63cbaf27cfd518a12b3r1-400-400v2_00.jpg" class="rounded-circle mx-auto my-3" style="height:300px; width:300px;" >
    </div>
     <table class="table text-center mb-0">
            <tr><td><strong>Email :</strong></td><td>{{ user.email }}</td></tr>
            <tr><td><strong>Prenom :</strong></td><td>{{ user.prenom }}</td></tr>
            <tr><td><strong>Nom :</strong></td><td>{{ user.nom }}</td></tr>
            <tr><td><strong>Adresse :</strong></td><td>{{ user.adresse }}</td></tr>
            <tr><td><strong>Ville :</strong></td><td>{{ user.ville }}</td></tr>
            <tr><td><strong>Code postal :</strong></td><td>{{ user.CodePostal }}</td></tr>
            <tr><button class="btn btn-secondary"><a href="{{ path('app_profil_edit', {'id' : user.id} ) }}" class="text-white">Modifier</a></button></tr>
        </table>
    </div>
</div>

    <h3 class="text-center my-5">Vos articles postés :</h3>
    {% if user.user|length > 0 %}
    <h5 class="text-center my-3 fst-italic">
    Vous avez poster {{user.user|length}} article{% if user.user|length > 0 %}s{% endif %} 
    </h5>
    {% else %}
    <h5 class="text-center my-3 fst-italic">
    Vous n'avez pas posté d'articles 
    </h5>
    {% endif %}


    {# {{ dump(article) }} #}
    {# <div class="container mb-2">
        <ul class="list-group text-center col-4 mx-auto">
            <a href=" {{ path('blog_show', {'id': article.id}) }} " class=" text-decoration-none"><li class="list-group-item mb">{{ article.titre}} publié le {{ article.date|date("d-m-Y H:i") }}</li></a>
        </ul>
    </div> #}
<div id="carouselExampleCaptions" class="carousel slide  mx-auto mb-5" data-bs-ride="carousel" style="height: 500px; width:500px;">
  <div class="carousel-inner">
  {% set first = 1 %}
   {% for article in user.user %}
    <div class="carousel-item {% if first == 1 %} active {% endif %}" style="height: 500px; width:500px;">
    
      <img src="{{ asset('uploads/photos/' ~ article.photo) }}" class="d-block w-100 rounded-circle" alt="..." >
      <div class="carousel-caption d-none d-md-block">
        <h5>{{article.titre}}</h5>
        <p>Publié le {{ article.date|date("d-m-Y H:i") }}</p>
        <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-danger">Voir l'article</a>
      </div>
    </div>
      {% set first = 0 %}

      {% endfor %}
    </div>
    
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


    {# {{ dump(user)}} #}

{% endblock %}

{# <div class="container">
       
    </div> #}
 