{% extends 'base_admin.html.twig' %}

{% block title %}
    BlogSymfony | Gestion des articles
{% endblock %}

{% block body %}

    <h1 class="text-center my-5">Articles</h1>


    {% for message in app.flashes('success') %}
        <div class="col-6 alert alert-success mx-auto text-center">
            {{message}}
        </div>
    {% endfor %}

    <table class="table table-striped" id="table-backoffice">
        <thead>
            <tr>
            {# colonnes : objet (BackOfficeController) qui contient tout les noms des champs/colonnes de la table SQL Article #}
            {% for data in colonnes %}

                {% if data != 'id' %}
                    
                
                {# capitalize : filtre Twig permettant de mettre la 1ère de la chaine de caractères en majuscule #}
                <th class="text-center">{{ data|capitalize }}</th>

                {% endif %} 

            {% endfor %}
                <th>Cat.</th>
                <th>Nb Comm.</th>
                <th>Action</th>
                
        </tr>
        </thead>
        <tbody>
        {% for value in cell %}
            {% if value != 'id' %}
            
            
            <tr>
                <td> {{ value.titre }} </td>

                <td> {{ value.contenu|slice(0,100)|striptags }}[...]</td>

                {# Si la valeur en BDD de la photo n'est pas nul alors on entre dans le IF et on affiche la photo sinon on entre dans le else et on affiche le texte 'Aucune photo téléchargée' #}
                {% if value.photo != null %}
                <td> <img src="{{ asset('uploads/photos/' ~ value.photo) }}" alt="{{value.photo}}" style="width: 150px; height: 150px;"></td>
                {% else %}
                <td class="text-danger text-center">Aucune photo téléchargée</td>
                {% endif %}

                <td> {{ value.date|date("d-m-Y H:i") }} </td>

                <td> {{ value.category.titre }} </td>

                <td> {{ value.commentaires|length }} </td>

                <td>
                    
                <a href="{{ path('admin_edit', {'id': value.id}) }}" class=" btn btn-success mx-auto mb-3 mt-3 ms-3"><i class="bi bi-pen text-white"></i></a>

                <a href="{{ path('app_admin_articles_remove', {'id': value.id}) }}" class="btn btn-danger mx-auto ms-3" onclick="return(confirm('Voulez-vous réellement supprimer l\'article n° {{value.id}}')); "><i class="bi bi-trash text-white"></i></a>
                </td>
                
            </tr>   
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
